@import "@codedrops/react-ui/dist/styles/colors.scss";

.add-container {
  position: relative;
  display: flex;
  flex-direction: column;

  .controls {
    display: flex;
    flex-direction: column;

    .inputbox {
      flex: 1 1 auto;
      padding: 4px 8px;
      resize: none;
      font-family: "Fira Mono", Cascadia-Regular, monospace;
      font-weight: 500;
    }
  }
}
