@import "@codedrops/react-ui/dist/styles/colors.scss";

.add-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  .controls {
    display: flex;
    flex-direction: column;

    .inputbox {
      flex: 1 1 auto;
      padding: 4px 8px;
      resize: none;
      font-family: "Fira Mono", Cascadia-Regular, monospace;
      font-weight: 500;
    }
  }
  .search-results {
    position: absolute;
    background: $strokeOne;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    overflow: auto;
    max-height: 150px;
    border: 1px solid $feather;
    .empty {
      padding: 12px 0;
      text-align: center;
      width: 100%;
    }
    .item {
      border-bottom: 1px solid $feather;
      padding: 8px;
      width: 100%;
      box-sizing: border-box;
    }
  }
  .status-bar {
    .item .value {
      font-size: 8px;
    }
  }
}
