@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "@codedrops/react-ui/dist/styles/custom-styles.scss";

html {
  body {
    margin: 0;
  }
}

.flash-container * {
  font-family: "Fira Mono", Cascadia-Regular, monospace;
  font-size: 12px;
}

.flash-container {
  position: relative;
  display: inline-block;

  .loader {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: 2s progress linear infinite;
    width: 100%;
    height: 4px;
    background: $orchid;
    z-index: 10;
  }

  @keyframes progress {
    0% {
      background: $orchid;
    }
    25% {
      background: $blue;
    }
    50% {
      background: $cdBlue;
    }
    75% {
      background: $nbPink;
    }
    100% {
      background: $watermelon;
    }
  }

  .card.app-content {
    height: 400px;
    width: 400px;
    background: $feather;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 12px;
    overflow: visible;
    border: none;
    box-shadow: none;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $bar;
      flex: 0 0 30px;
      nav {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
        gap: 10px;
        .nav-item {
          color: $steel;
          cursor: pointer;
          font-family: "Fira Mono", Cascadia-Bold, monospace;
          font-weight: 700;
          &:hover {
            color: $bar;
          }
        }
        .nav-item.active-page {
          color: $bar;
          text-decoration: underline;
        }
      }
    }

    section {
      flex: 1 1 auto;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }
  }

  .button,
  .radio .radio-item,
  .select-text,
  .dropdown .dropdown-item,
  .checkbox,
  .input,
  .textarea,
  .card {
    font-size: 12px;
  }
}

.content-wrapper {
  flex: 1;
  display: flex;
  .content-index {
    min-width: 20px;
    display: inline-block;
    font-size: 10px;
    position: relative;
    top: 2px;
  }
  .content {
    line-height: 16px;
    color: $bar;
    code {
      background: $yellow;
      padding: 2px;
      border-radius: 2px;
    }
  }
}

.react-ui {
  h2 {
    margin: 0;
    font-size: 14px;
  }

  h3 {
    font-size: 12px;
    border: none;
    margin-top: 0;
  }
}
